.container {
  margin-top: 30px;
  max-width: 85%;
  padding-bottom: 20px;
}

.card-header{
  color: white;
  font-weight: bold;
  font-size: 17px;
  height: 50px;
  display: flex;
  align-items: center;

  background-color: #03a5c9;
}

.add-paciente {
  margin-bottom: 60px;
}

.list-paciente {
  margin-bottom: 50px;
}

.btn-add-paciente {
  margin-right: 10px;
}

.paginator{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search{
  padding-left: 10px;
  margin-bottom: 15px;
  width: 50%;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.icon:hover {
  color: rgb(144, 144, 144);
}

.endereco{
  display: flex;
  flex-direction: row;
  gap: 10px;

  .info-endereco{
    width: 100%;
  }

}

.checkbox{
  display: flex;
  flex-direction: row;
  gap: 15px;
}