.container {
  margin-top: 30px;
  max-width: 85%;
}

.card-header{
  font-weight: bold;
  font-size: 17px;
  background-color: #03a5c9;
}

.add-paciente {
  margin-bottom: 60px;
}

.list-paciente {
  margin-bottom: 50px;
}

.btn-add-paciente {
  margin-right: 10px;
}

.paginator{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

