<div class="container">
  <div class="card list-paciente mat-elevation-z8">
    <h3 class="card-header">Lista de Pacientes</h3>
    <div class="search">
      <input type="text" class="form-control" placeholder="Procurar" [(ngModel)]="searchText" >
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th mat-sort-header="id">ID</th>
          <th mat-sort-header="nome">Nome</th>
          <th mat-sort-header="sexo">Sexo</th>
          <th mat-sort-header="cpf">Cpf</th>
          <th mat-sort-header="celular">Celular</th>
          <th mat-sort-header="dataNascimento">Data de Nascimento</th>
          <th mat-sort-header="email">Email</th>
          <th mat-sort-header="informacoesAtendimento">Informações de Atendimento</th>
          <th mat-sort-header="rua">Rua</th>
          <th mat-sort-header="numero">Número</th>
          <th mat-sort-header="bairro">Bairro</th>
          <th mat-sort-header="cidade">Cidade</th>
          <th mat-sort-header="estado">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paciente of pageSlice | search: searchText" class="line">
          <td>{{paciente.id}}</td>
          <td>{{paciente.nome}}</td>
          <td>{{paciente.sexo}}</td> 
          <td>{{paciente.cpf}}</td>
          <td>{{paciente.celular}}</td>
          <td>{{paciente.dataNascimento}}</td>
          <td>{{paciente.email}}</td>
          <td>{{paciente.informacoesAtendimento}}</td> 
          <td>{{paciente.rua}}</td>
          <td>{{paciente.numero}}</td>
          <td>{{paciente.bairro}}</td>
          <td>{{paciente.cidade}}</td>
          <td>{{paciente.estado}}</td>
          <td>
          <div class="icons">
            <mat-icon type="button" class="icon" (click)="editPaciente(paciente)">edit</mat-icon>
            <mat-icon type="button" class="icon" (click)="deletePaciente(paciente)" onclick="window.location.reload()">delete</mat-icon>
          </div>
          </td>
        </tr>
      </tbody>
    </table> 
    
    <div>
      <mat-paginator
                class="paginator"
                [length] = "pacientes.length"
                [pageSize]="10"
                [pageSizeOptions]="[3, 5, 10, 20]"
                showFirstLastButtons
                (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
  <div class="card add-paciente">
    <h5 class="card-header">Adicionar/Atualizar Paciente</h5>
    <div class="card-body">
      <h2>Dados Pessoais</h2>
      <form id="add-form" (ngSubmit)="f.form.valid && savePaciente(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" [(ngModel)]="paciente.nome" id="nome" name="nome" #nome="ngModel" required class="form-control"  placeholder="Digite o nome">
          <div *ngIf="nome.invalid && (nome.touched)" class="alert alert-danger">
            <span *ngIf="nome.errors?.['required']">Nome é obrigatório</span>
          </div>
        </div>
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <input type="text" [(ngModel)]="paciente.sexo" id="sexo" name="sexo" #sexo="ngModel" required class="form-control"  placeholder="Digite o sexo">
          <div *ngIf="sexo.invalid && (sexo.touched)" class="alert alert-danger">
            <div *ngIf="sexo.errors?.['required']">Sexo é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cpf">Cpf</label>
          <input type="text" [(ngModel)]="paciente.cpf" id="cpf" name="cpf" #cpf="ngModel" required minlength="11" maxlength="11" class="form-control" placeholder="Digite o cpf" pattern="[0-9]*">
          <div *ngIf="cpf.invalid && (cpf.touched)" class="alert alert-danger">
            <div *ngIf="cpf.errors?.['required']">Cpf é obrigatório</div>
            <div *ngIf="cpf.errors?.['minlength']">Cpf deve ter 11 caracteres e somente números</div>
          </div>
        </div>
        <div class="form-group">
          <label for="celular">Celular</label>
          <input type="text" [(ngModel)]="paciente.celular" id="celular" name="celular" #celular="ngModel" required class="form-control" placeholder="Digite o celular">
          <div *ngIf="celular.invalid && (celular.touched)" class="alert alert-danger">
            <div *ngIf="celular.errors?.['required']">Celular é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data de Nascimento</label>
          <input type="date" [(ngModel)]="paciente.dataNascimento" id="dataNascimento" name="dataNascimento" #dataNascimento="ngModel" required class="form-control" placeholder="Digite a data de nascimento">
          <div *ngIf="dataNascimento.invalid && (dataNascimento.touched)" class="alert alert-danger">
            <div *ngIf="dataNascimento.errors?.['required']">Data de Nascimento é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" [(ngModel)]="paciente.email" id="email" name="email" #email="ngModel" required email class="form-control" placeholder="Digite o e-mail">
          <div *ngIf="email.invalid && (email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.['required']">E-mail é obrigatório</div>
            <div *ngIf="email.errors?.['email']">E-mail inválido</div>
          </div>
        </div>
        <div class="form-group">
          <label for="informacoesAtendimento">Informações de Atendimento</label>
          <input type="text" [(ngModel)]="paciente.informacoesAtendimento" id="informacoesAtendimento" name="informacoesAtendimento" #informacoesAtendimento="ngModel" required class="form-control" placeholder="Digite as informações">
          <div *ngIf="informacoesAtendimento.invalid && (informacoesAtendimento.touched)" class="alert alert-danger">
            <div *ngIf="informacoesAtendimento.errors?.['required']">Informações é obrigatório</div>
          </div>
        </div>
        <h2>Endereço</h2>
        <div class="endereco">
          <div class="form-group info-endereco">
            <label for="rua">Rua</label>
            <input type="text" [(ngModel)]="paciente.rua" id="rua" name="rua" #rua="ngModel" required class="form-control" placeholder="Digite a rua">
            <div *ngIf="rua.invalid && (rua.touched)" class="alert alert-danger">
              <div *ngIf="rua.errors?.['required']">Rua é obrigatório</div>
            </div>
          </div>
          <div class="form-group info-endereco">
            <label for="numero">Número</label>
            <input type="text" [(ngModel)]="paciente.numero" id="numero" name="numero" #numero="ngModel" required class="form-control" placeholder="Digite o número">
            <div *ngIf="numero.invalid && (numero.touched)" class="alert alert-danger">
              <div *ngIf="numero.errors?.['required']">Número é obrigatório</div>
            </div>
          </div>
          <div class="form-group info-endereco">
            <label for="bairro">Bairro</label>
            <input type="text" [(ngModel)]="paciente.bairro" id="bairro" name="bairro" #bairro="ngModel" required class="form-control" placeholder="Digite o bairro">
            <div *ngIf="bairro.invalid && (bairro.touched)" class="alert alert-danger">
              <div *ngIf="bairro.errors?.['required']">Bairro é obrigatório</div>
            </div>
          </div> 
          <div class="form-group info-endereco">
            <label for="cidade">Cidade</label>
            <input type="text" [(ngModel)]="paciente.cidade" id="cidade" name="cidade" #cidade="ngModel" required class="form-control" placeholder="Digite a cidade">
            <div *ngIf="cidade.invalid && (cidade.touched)" class="alert alert-danger">
              <div *ngIf="cidade.errors?.['required']">Cidade é obrigatório</div>
            </div>
          </div>
          <div class="form-group info-endereco">
            <label for="estado">Estado</label>
            <input type="text" [(ngModel)]="paciente.estado" id="estado" name="estado" #estado="ngModel" required class="form-control" placeholder="Digite o estado">
            <div *ngIf="estado.invalid && (estado.touched)" class="alert alert-danger">
              <div *ngIf="estado.errors?.['required']">Estado é obrigatório</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-add-paciente" onclick="window.location.reload()" [disabled]="f.invalid" (onClick)=verificaEmailCadastro()>Salvar</button>
        <button type="reset" class="btn btn-secondary btn-add-paciente" (click)="cleanForm(f)">Cancelar</button>
      </form>
    </div>
  </div>
</div>

